<nav class="navbar container-fluid navbar-expand-lg  navbar-light bg-white fixed-top nav-cus">
  <div class="container-fluid mt-lg-4">

    <a class="navbar-brand cart" href="#">CART</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse nav-items container-fluid mt-3" id="navbarSupportedContent">
      <ul class="all navbar-nav me-5 mb-2 mb-lg-0">
        {{#each category}}

        <li class="nav-item bg-white dropdown" style="height: 50px;">
          <a class="nav-link dropdown-toggle navbar-text  text-black mt-4" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{this.category}}
          </a>
          <ul class="dropdown-menu dropdown-menu1 mt-4" aria-labelledby="navbarDropdown">
            {{#each this.subcategories }}
            <li><a class="dropdown-item"  href="/viewProducts/{{this.name}}" >{{this.name }}</a></li>
            {{/each}}

          </ul>
        </li>
        {{/each }}

        <li class="nav-item dropdown " style="margin-bottom: 10px;">
          <div class="mb-4 bg-white">
            {{#if user.isLoggedin}}
            <h6 class="ms-5 d-flex justify-content-center">Welcome : <b>{{user.email}}</b> </h6>
            {{else}}
            <h6 class="ms-5 d-flex justify-content-center">Welcome to CART</b> </h6>
            {{/if}}

            <form class="d-flex justify-content-center">
              <input class="form-control me-2 search-field" type="search" placeholder="Search" aria-label="Search">
            </form>

          </div>
        </li>

        <li class="nav-item dropdown mt-4">
          <div class="navbar-btns rounded-circle text-white text-center dropdown ">
            <i class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-sign-in-alt cart-icon"></i>
            </i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {{#if user.isLoggedin}}
              <li><a class="dropdown-item" href="/signout" id="signout">SIGN OUT</a></li>
              {{else }}

              <li><a class="dropdown-item" href="/login">SIGN IN</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/signup">SIGN UP</a></li>
              {{/if}}
            </ul>
          </div>
        </li>




        <li class="nav-item dropdown ">

           

          <div class="navbar-btns rounded-circle text-white text-center dropdown mt-4">

            <i class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-cart-plus cart-icon"></i> <span class=" badge badge-success text-danger" id="cart_count">{{cart_count}}</span>
            </i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
               {{#if user.isLoggedin}}
              <li><a class="dropdown-item" href="/cart">Cart</a></li>
              <hr>
              <li><a class="dropdown-item" href="/order-details">Order Details</a></li>
              {{else}}
              <li><a class="dropdown-item" href="/login">Login</a></li>
              {{/if}}
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>







<script>


  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }



 </script>
 <script src="/javascripts/user/cart.js" ></script>