<div class="row container mt-5 bg-light ms-5">
    <div class="col-12 col-lg-6 ps-5 ">
        <h4 class="text-center"> Categories </h4>
        <div class="me-5">

            <table class="table mt-4">
                <thead>
                </thead>
                <tbody id="myList1">
                    {{#each result}}

                    <tr>
                        <td>


                            <input disabled type="text" value="{{this.category}}" name="sub_cat"
                                class="form-control col-ld-7" id="delcat">
                        </td>
                        <td>
                            <button onclick="deletecat('{{this.category}}')" class="btn btn-danger">Delete</button>

                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>
        </div>







        <h4 class="text-center mt-5">Delete/Edit Sub Category <h4>
                <select class="form-select" id="category" aria-label="Default select example">
                    <option selected>Select Category</option>
                    {{#each result}}
                    <option id="asd" onchange="getItem('{{this.id}}')" value={{this.category}}>{{this.category}}
                    </option>
                    {{/each}}

                </select>


                <div class="me-5">

                    <table class="table mt-4">
                        <thead>
                        </thead>
                        <tbody id="myList">


                        </tbody>
                    </table>
                </div>





    </div>
    <div class="col-12 col-lg-6 ps-5 mt-4">
        <h4 class="text-center">Add New Category </h4>
        <div class="me-5">

            <table class="table mt-4">
                <thead>
                </thead>
                <tbody id="myList1">

                    <tr>
                        <td>
                            <span class="text-danger" style="font-size: small;" id="cat_err"></span>

                            <input type="text" name="sub_cat" class="form-control col-ld-7" id="addcat">
                        </td>
                        <td>
                            <button id="addcatbtn" class="btn btn-primary">Add</button>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <h4 class="text-center">Add New Subcategory <h4>


                <form class=" pb-5 form" role="form" id="add_sub">
                    <div class="mb-3">
                        <select name="cat" class="form-select" required>
                            <option>Select Category</option>
                            {{#each result}}
                            <option onchange="getItem('{{this.id}}')" id="select_cat" class="form-control"
                                value="{{this.category}}">{{this.category}}
                            </option>
                            {{/each}}

                        </select>

                    </div>
                    <div class="mb-3">
                        <span class="text-danger" style="font-size: small;" id="fname_err"></span>

                        <input type="text" name="sub_cat" class="form-control" id="addsub">
                    </div>

                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </form>







    </div>

</div>

<script>
    let fname_val = false;
    let catname = false


    function deletecat(name) {
        console.log(name)
        $.ajax({
            url: "/admin/deletecat",
            method: "post",
            data: { name },
            success: function (response) {
                if (response.status) {
                    alert(response.mes)
                    location.replace('/admin/category-management')

                }

            },

            error: function (err) {
                alert("Something Error")

            }
        })

    }


    $("#addcat").on('input', function () {

        this.value = this.value.replace(/[^a-zA-Z ]/, '')


        if (this.value.charAt(0) == " ") {
            $("#cat_err").html("Do not start with space")
            $(this).css({ borderColor: "red" })
            catname = false;
        }

        else if (this.value.length < 3) {
            $("#cat_err").text("Minimum  2 character")
            $(this).css({ borderColor: "red" })
            catname = false;

        }




        else if (this.value.length > 20) {
            $("#cat_err").text("subcategory name should be max 20  character")
            $(this).css({ borderColor: "red" })
            catname = false;

        }


        else if (this.value.includes(" ")) {
            $("#cat_err").text("subcategory name should not have any spaces ")
            $(this).css({ borderColor: "red" })
            catname = false;

        }



        else {
            $(this).css({ borderColor: "green" })
            $("#cat_err").html("")
            catname = true
        }

    })


    $("#addcatbtn").click((e) => {
        cat = document.getElementById("addcat").value
        let name = cat.toUpperCase()

        e.preventDefault()
        if (catname) {

            $.ajax({
                url: "/admin/add-category",
                method: "post",
                data: { name },
                success: function (response) {
                    console.log(response)

                    if (response.status) {
                        alert(response.mes)
                        location.replace('/admin/category-management')

                    }
                    else {
                        alert(response.mes)
                        location.replace('/admin/category-management')

                    }

                },
                error: function (err) {
                    alert("Something Error")

                }
            })
        }
        else {
            alert("Cannot create subcategory")
        }


    })



    document.getElementById("category").onchange = e => {
        let id = e.target.value
        console.log("id" + id)
        $.ajax({
            url: "/admin/get-subcategory",
            method: 'POST',
            data: { id },
            success: function (response) {
                console.log(response);
                document.getElementById("myList").innerHTML = "";
                for (let i = 0; i < response.data.length; i++) {
                    var innerCode = `<tr><td><input class='form-control' oninput="change(${i})"  id="inp${i}" value='${response.data[i].name}'/></td><td>
                        <button style="display:none" onclick="updateSub('${response.data[i].name}','inp${i}')" id="btn${i}" class='btn btn-info'>Update</button>
                        <button  onclick="deleteSub('${response.data[i].name}')" class='btn btn-danger'>Delete</button>
                        </td></tr>`
                    document.getElementById("myList").innerHTML += innerCode;

                }
            },
            error: function (err) {
                alert("Something Error")

            }

        })


    }
    function change(e) {
        let x = document.getElementById(`btn${e}`)
        x.style.display = ""

    }


    function updateSub(oldValue, id) {
        let newValue = $("#" + id).val()
        $.ajax({
            url: "/admin/update-subcategory",
            method: 'POST',
            data: { oldValue, newValue },
            success: function (response) {
                console.log(response.success)
                if (response.success) {
                    alert("Successfully updated subcategory")
                    location.replace('/admin/category-management')
                }
                else {

                }
            },
            error: function (err) {
                alert("Something Error")

            }

        })

    }

    function deleteSub(oldValue) {
        $.ajax({
            url: "/admin/delete-subcategory",
            method: 'POST',
            data: { oldValue },
            success: function (response) {
                console.log(response.success)
                if (response) {
                    alert("Successfully deleted subcategory")
                    location.replace('/admin/category-management')
                }
                else {

                }
            },
            error: function (err) {
                alert("Something Error")

            }

        })

    }






    $("#addsub").on('input', function () {
        console.log("asdasd")

        this.value = this.value.replace(/[^a-zA-Z ]/, '')


        if (this.value.charAt(0) == " ") {
            $("#fname_err").html("Do not start with space")
            $(this).css({ borderColor: "red" })
            fname_val = false;
        }

        else if (this.value.length < 3) {
            $("#fname_err").text("Minimum  2 character")
            $(this).css({ borderColor: "red" })
            fname_val = false;

        }




        else if (this.value.length > 20) {
            $("#fname_err").text("subcategory name should be max 20  character")
            $(this).css({ borderColor: "red" })
            fname_val = false;

        }


        else if (this.value.includes(" ")) {
            $("#fname_err").text("subcategory name should not have any spaces ")
            $(this).css({ borderColor: "red" })
            fname_val = false;

        }



        else {
            $(this).css({ borderColor: "green" })
            $("#fname_err").html("")
            fname_val = true
        }
    })


    $("#add_sub").submit((e) => {
        console.log("asda")
        e.preventDefault()
        if (fname_val) {

            $.ajax({
                url: "/admin/add-subcategory",
                data: $("#add_sub").serialize(),
                method: "post",
                success: function (response) {
                    console.log(response)

                    if (response.success) {
                        alert("Subcategory added")
                        location.replace('/admin/category-management')

                    }
                    else {
                        alert("Subcategory Already exist")

                    }

                },
                error: function (err) {
                    alert("Something Error")

                }
            })
        }
        else {
            alert("Cannot create subcategory")
        }


    })


</script>