<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="row container m-5">


    <div class="col-lg-9">

        <canvas id="pie-chart" width="800" height="450"></canvas>
        <canvas id="bar-chart1" width="800" height="450"></canvas>

       
    </div>
    <div class="col-lg-3 border">
        <div class="d-flex justify-content-center  py-3 border-bottom">
            <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?b=1&k=20&m=1300845620&s=170667a&w=0&h=JbOeyFgAc6-3jmptv6mzXpGcAd_8xqkQa_oUK2viFr8="
                class="img" width="50px" height="50px" alt="">

            <div class="row">

            </div>
        </div>

        <p class="text-center">kpshaheer123@gmail.com </p>
        <div class="row">
            <div class="p-2 col-lg-4 bg-light border">
                <p class="text-center ">{{orders}}</p>
                <h6 class="text-center ">Orders</h6>
            </div>
            <div class="p-2 col-lg-4 bg-light border">
                <p class="text-center ">{{products}} </p>
                <h6 class="text-center ">Products</h6>
            </div>
            <div class="p-2 col-lg-4 bg-light border">
                <p class="text-center ">56658 </p>
                <h6 class="text-center ">Revenue</h6>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 p-3">
                <i class="fas fa-poll fa-3x"></i>
            </div>
            <div class="col-lg-8">
                <h4 class="p-1">{{monthStatus.tot}}</h4>
                <a> Income This month</a>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 p-3">
                <i class="fas fa-poll fa-3x"></i>
            </div>
            <div class="col-lg-8">
                <h4 class="p-1">{{monthStatus.ord}}</h4>
                <a>This month Orders </a>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 p-3">
                <i class="fas fa-poll fa-3x"></i>
            </div>
            <div class="col-lg-8">
                <h4 class="p-1">{{monthStatus.cust}}</h4>
                <a>Customers</a>
            </div>

        </div>

         <canvas id="bar-chart" width="800" height="450"></canvas>

    </div>





</div>
<script>
    let _data = [];
    $.ajax({
        url: "/admin/weeklySalesReport",
        method: 'post',
        data: {},
        success: function (response) {
            if (response) {

                const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                let _labels = []
                for (i = 0; i < 7; i++) {
                    let index = (new Date().getDay() + i) % 7
                    //if(index == )
                    _labels.push(days[index])
                }
                const today = new Date().getDate()


                _data = response.data
                new Chart(document.getElementById("pie-chart"), {

                    type: 'pie',
                    data: {
                        labels: [days[(new Date().getDay()) % 7], days[(new Date().getDay() + 1) % 7], days[(new Date().getDay() + 2) % 7], days[(new Date().getDay() + 3) % 7], days[(new Date().getDay() + 4) % 7], days[(new Date().getDay() + 5) % 7], days[(new Date().getDay() + 6) % 7], days[(new Date().getDay())]],
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: _data
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Weekly sales Report'
                        }
                    }
                });




                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: ["COD", "P-PAL", "R_PAY"],
                        datasets: [
                            {
                                label: "Population (millions)",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                data: response.pay
                            }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: 'Payment Method'
                        }
                    }
                });




                new Chart(document.getElementById("bar-chart1"), {
    type: 'bar',
    data: {
      labels: ["Delivered", "Placed", "Cancelled",  ],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data:response.status
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Order Status'
      }
    }
});












            }
        }

    })
</script>