
<div class="p-2" style="justify-content: center;">
<div class="d-flex justify-content-center" > 
<h2 class="mt-4" >MY ORDERS</h2>
</div>


<input class="search-label p-2"  style="width=10px " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<div class="table-responsive">
<table id="myTable" class="table">
  <thead>
    <tr>
     <th scope="col">sl.no</th>
      <th scope="col">Product</th>
      <th scope="col">Subcategory</th>
      <th scope="col">Qty</th>
      <th scope="col">Img</th>
       <th scope="col">price</th>
       <th scope="col">status</th> 
       <th scope="col">Order</th>  
    </tr>
  </thead>
   <tbody>
    {{#each orderdetails}}
    <tr>
      
      <th scope="row">{{calculation  @index}}</th>
      <td>{{this.products.product_name}}</td>
      <td>{{this.products.sub_category}}</td>
       <td>{{this.quantity}}</td>
       <td>
         <div class="row">
           <img class="col-lg-4 img-box "  src="/product-images/{{this.products._id}}1.jpg" alt="klj" >
       </div> </td>
       <td>{{this.products.price}}</td>
        <td class="text-success">
         
        {{../status}}
        </td>
        <td>
            <a class="btn btn-danger" >Cancel </a>
        </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>
</div>

<script>
 function update(){
   console.log("updated clickeede")
 }

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
