


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
<style>
  a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;

 }


tr:nth-child(even) {background-color: #f2f2f2;}
tr {
  font-size: small;
}

</style>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Cart</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/admin/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="/admin/salesreport">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Report
                        </a>
                        <a class="nav-link" href="/admin/order-management">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Order Management
                        </a>
                        <a class="nav-link" href="/admin/category-management">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Category Management
                        </a>
                        <a class="nav-link" href="/admin/user-management">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Management
                        </a>
                        <a class="nav-link" href="/admin/product-mgmt">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Produc Management
                        </a>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Offers/Coupons
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/admin/coupons">Product-offer</a>
                                <a class="nav-link" href="/admin/category-offer">Category-offer</a>
                                <a class="nav-link" href="/admin/coupon-offer">Coupons</a>

                            </nav>
                        </div>
                          <a class="nav-link" href="/admin/banners">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Banners
            </a>

              <a class="nav-link" href="/admin/signout">
                <div class="sb-nav-link-icon"><i
                    class="fas fa-tachometer-alt"
                  ></i></div>
                Logout
              </a>


                    </div>

                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>

              <div class="p-2 bg-light"  style="justify-content: center;">
<div class="d-flex justify-content-center" > 
  <a class="btn btn-primary  "  href="/admin/add-product">ADD NEW PRODUCT {{name}}</a>
</div>
<div  class="p-3 d-flex justify-content-center">
  <ul class="list-group list-group-horizontal">
   {{#each category}}
  <li value="{{this.category}}"   class="list-group-item"><a class="btn btn-info" href="/admin/a/{{this.category}}">{{this.category}}</a></li>
  {{/each}}
</ul>
</div>

<input class="search-label p-2"  style="width=10px " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<div class="table-responsive">
<table id="myTable" class="table">
  <thead>
    <tr>
     <th scope="col">sl.no</th>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Subcategory</th>
      <th scope="col">Qty</th>
      <th scope="col">Img</th>
       <th scope="col">price</th>
       <th scope="col">Options</th>
    </tr>
  </thead>
   <tbody>
    {{#each result}}
    <tr>
      
      <th scope="row">{{calculation  @index}}</th>
      <td>{{this.product_name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.sub_category}}</td>
       <td>{{this.qty}}</td>
       <td>
         <div class="row">
           <img class="col-lg-4 img-box "  src="/product-images/{{this._id}}1.jpg" alt="klj" >
             <img class="col-lg-4 img-box" src="/product-images/{{this._id}}2.jpg" alt="klj" >
               <img class="col-lg-4 img-box" src="/product-images/{{this._id}}3.jpg" alt="klj"  >

       </div> </td>
       <td>{{this.price}}</td>
        <td>

              <a href="/admin/updateProduct/{{this._id}}"  class="btn btn-primary a-btn-slide-text">
        <i class="fas fa-edit"></i>    
    </a>
        <a href="/admin/deleteProduct/{{this._id}}" onclick="return confirm('Delete {{this.firstName}} ?')" class="btn btn-danger a-btn-slide-text">
      <i class="fas fa-trash-alt"></i>     
    </a>
         
      
      
        </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>
</div>
              


            </main>
            <footer class="py-4 bg-light mt-auto">

            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/javascripts/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/javascripts/js/datatables-simple-demo.js"></script>
    <script>
        let _data = [];
        $.ajax({
            url: "/admin/weeklySalesReport",
            method: 'post',
            data: {},
            success: function (response) {
                if (response) {
                    const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                    let _labels = []
                    for (i = 0; i < 7; i++) {
                        let index = (new Date().getDay() + i) % 7
                        //if(index == )
                        _labels.push(days[index])
                    }
                    const today = new Date().getDate()
                    _data = response.data
                    new Chart(document.getElementById("pie-chart"), {
                        type: 'pie',
                        data: {
                            labels: [days[(new Date().getDay()) % 7], days[(new Date().getDay() + 1) % 7], days[(new Date().getDay() + 2) % 7], days[(new Date().getDay() + 3) % 7], days[(new Date().getDay() + 4) % 7], days[(new Date().getDay() + 5) % 7], days[(new Date().getDay() + 6) % 7], days[(new Date().getDay())]],
                            datasets: [{
                                label: "Population (millions)",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                data: _data
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Weekly sales Report'
                            }
                        }
                    });
                    new Chart(document.getElementById("bar-chart"), {
                        type: 'bar',
                        data: {
                            labels: ["COD", "P-PAL", "R_PAY"],
                            datasets: [
                                {
                                    label: "Population (millions)",
                                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                    data: response.pay
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Payment Method'
                            }
                        }
                    });
                    new Chart(document.getElementById("bar-chart1"), {
                        type: 'bar',
                        data: {
                            labels: ["Delivered", "Placed", "Cancelled",],
                            datasets: [
                                {
                                    label: "Population (millions)",
                                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                    data: response.status
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Order Status'
                            }
                        }
                    });
                }
            }
        })
    </script>
</body>

</html>









<script>
 function update(){
   console.log("updated clickeede")
 }

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
