

<style>
  a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

</style>



<div class="p-2 bg-light"  style="justify-content: center;">
<div class="d-flex justify-content-center" > 
  <a class="btn btn-primary  "  href="/admin/add-product">ADD NEW PRODUCT {{name}}</a>
</div>
<div  class="p-3 d-flex justify-content-center">
  <ul class="list-group list-group-horizontal">
   {{#each category}}
  <li value="{{this.category}}"   class="list-group-item"><a class="btn btn-info" href="/admin/a/{{this.category}}">{{this.category}}</a></li>
  {{/each}}
</ul>
</div>

<input class="search-label p-2"  style="width=10px " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<div class="table-responsive">
<table id="myTable" class="table">
  <thead>
    <tr>
     <th scope="col">sl.no</th>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Subcategory</th>
      <th scope="col">Qty</th>
      <th scope="col">Img</th>
       <th scope="col">price</th>
       <th scope="col">Options</th>
    </tr>
  </thead>
   <tbody>
    {{#each result}}
    <tr>
      
      <th scope="row">{{calculation  @index}}</th>
      <td>{{this.product_name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.sub_category}}</td>
       <td>{{this.qty}}</td>
       <td>
         <div class="row">
           <img class="col-lg-4 img-box "  src="/product-images/{{this._id}}1.jpg" alt="klj" >
             <img class="col-lg-4 img-box" src="/product-images/{{this._id}}2.jpg" alt="klj" >
               <img class="col-lg-4 img-box" src="/product-images/{{this._id}}3.jpg" alt="klj"  >

       </div> </td>
       <td>{{this.price}}</td>
        <td>

              <a href="/admin/updateProduct/{{this._id}}"  class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Edit</strong></span>            
    </a>
        <a href="/admin/deleteProduct/{{this._id}}" onclick="return confirm('Delete {{this.firstName}} ?')" class="btn btn-danger a-btn-slide-text">
       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span><strong>Delete</strong></span>            
    </a>
         
      
      
        </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>
</div>





<script>
 function update(){
   console.log("updated clickeede")
 }

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
