
<h1 class="text-center " > {{name}}</h1>
<div class="d-flex justify-content-center">


</div>

<div class="p-4">

<input class="search-label p-2"  style="width=10px " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">sl.no</th>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Subcategory</th>
      <th scope="col">Qty</th>
      <th scope="col">Img</th>
       <th scope="col">price</th>
       <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      
      <th scope="row">{{calculation  @index}}</th>
      <td>{{this.product_name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.sub_category}}</td>
       <td>{{this.qty}}</td>
       <td>
         <div class="row">
           <img class="col-lg-4 img-box "  src="/product-images/{{this._id}}1.jpg" alt="klj" >
             <img class="col-lg-4 img-box" src="/product-images/{{this._id}}2.jpg" alt="klj" >
               <img class="col-lg-4 img-box" src="/product-images/{{this._id}}3.jpg" alt="klj"  >

       </div> </td>
       <td>{{this.price}}</td>
        <td>
         
        <a class="btn btn-success" href="/admin/updateProduct/{{this._id}}"  >Update</a>
         <a class="btn btn-danger" href="/admin/deleteProduct/{{this._id}}" onclick="return confirm('Delete {{this.firstName}} ?')" >Delete</a>
        </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>



<script>
 function update(){
   console.log("updated clickeede")
 }

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
