<link href="/css/address.css" rel="stylesheet">
<link href="/css/cart.css" rel="stylesheet">
<header>
    <div class="d-flex justify-content-center align-items-center pb-3">
        <div class="px-sm-5 px-2 active">SHOPPING CART <span class="fas fa-check"></span> </div>
        <div class="px-sm-5 px-2">CHECKOUT</div>
        <div class="px-sm-5 px-2">FINISH</div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
</header>
<div class="wrapper">

    <form id="checkout-form">
        <input name="userid" value="{{user}}" hidden></input>
        <div class="row">
            <div class="col-lg-9 col-md-8 bg-light col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                <div class="row mt-5 ms-5">
                    <div class="col-lg-1 ">
                        <i style="font-size: 40px;" class="mt-1 fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-lg-11">
                        <h5>Delivery Address</h5>
                        <p>We willl deliver your order to this address</p>
                        <div id="addr_err" class="text-danger"></div>
                        <input style="display: none;" name="prodid" value="{{productId}}"></input>

                        {{#each add}}
                        <div class="form-check">
                            <input class="form-check-input" value="{{this.id}}" type="radio" name="address"
                                id="flexRadioDefault1">
                            <label class="form-check-label" id="{{this.id}}" for="flexRadioDefault1">
                                {{this.name}} , {{this.address}}<br>{{this.city}},{{this.state}}<br>{{this.pin}}
                            </label>
                            <a onclick="return confirm('Are you sure you want to delete this item?');"
                                href="/delete-address?prodid={{../productId}}&&id={{this.id}}">
                                <i class="ms-5 fas fa-trash-alt"></i>

                            </a>
                        </div>

                        {{/each}}
                        <a type="button" href="/add-address?id={{productId}}"
                            class="btn-sm btn-primary mb-5 mt-5">Add</a>
                    </div>

                </div>

            </div>

            <div class="col-lg-3">
                <div
                    class="ibox                                                                                                                                                                                                                                                ">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 id="total_amount" class="font-bold">
                            RS : {{total_amount.total}}
                        </h2>

                        <hr>

                        <span id="err_message" class="text-danger"></span>
                        <span id="succ_message" class="text-success"></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Coupon" id="coupon_code"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" onclick="coupon('{{total_amount.total}}')"
                                    type="button">Submit</button>
                            </div>
                        </div>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <!-- For demo purpose -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card ">

                            <div class="col-lg-8  text-center">
                                <h2>Select payment method</h2>
                            </div>
                            <div class="card-header">


                                <div class="tab-content">

                                    <span class="text-danger" id="disp"></span>

                                    <div class="form-check">
                                        <input class="form-check-input" onclick="checkradio()" value="cod" type="radio"
                                            name="mode" id="cod">
                                        <label class="form-check-label" for="flexRadioDefault1">Cash on Delivery</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" onclick="checkradio1()" value="r_pay"
                                            type="radio" name="mode" id="r_pay">
                                        <label class="form-check-label" for="flexRadioDefault1">Razor Pay</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" onclick="checkradio2()" value="p_pal"
                                            type="radio" name="mode" id="p_pal">
                                        <label class="form-check-label" for="flexRadioDefault1">Pay pal</label>
                                    </div>



                                    <div class="card-footer"> <button type="submit" onclick="pay_mode()" id="confirmbtn"
                                            style="display: none;"
                                            class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Order
                                        </button>

                                    </div>

                                    <div id="pay_pal">

                                        {{!-- <input style="display: none;" name="price" value="{{total_amount.total}}">
                                        --}}
                                        <button id="paypalbtn" style="display: none;" type="submit"
                                            class="btn btn-primary ms-4 btn-block shadow-sm" onclick="pay_mode()">Pay
                                            with Pay pal</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


    </form>
</div>







<script>
    let coupon_applied
     let code 


    function coupon(total) {
         code = document.getElementById("coupon_code").value
        alert(code + total)
        $.ajax({
            url: "/apply_coupon",
            method: "post",
            data: { code, total },
            success: function (response) {
                if (response.coupon) {
                    document.getElementById("total_amount").innerHTML = response.amount
                    document.getElementById("total_amount").value = response.amount
                    document.getElementById("succ_message").innerHTML = response.mes
                    document.getElementById("err_message").innerHTML = ""
                    coupon_applied=true
                }
                else{
                     document.getElementById("err_message").innerHTML = response.mes
                      document.getElementById("succ_message").innerHTML = ""

                }


            }
        })


    }


    let mode = null;




    $("#checkout-form").submit((e) => {
        e.preventDefault()
        code = document.getElementById("coupon_code").value
        if (mode == "rpay" || mode == "cod") {
            $.ajax({
                url: `/place-order/?coupon=${coupon_applied}&&code=${code}`,
                data: $("#checkout-form").serialize(),
                method: "post",
                success: function (response) {
                    console.log(response);
                    if (response.codSuccess) {
                        location.replace('/suc');
                    } else if (response.status == "noaddress") {
                        document.getElementById("addr_err").innerHTML = "Please select a addresss";

                    }
                    else {
                        razorpayPayment(response)
                    }

                },
                error: function (err) {
                    alert("Something Error")

                }
            })

        } 
        else if (mode == "p_pal") {
            $.ajax({
                url: '/pay',
                method: "post",
                data: $("#checkout-form").serialize(),
                success: function (res) {
                   
                    if (!res.status) {
                        document.getElementById("addr_err").innerHTML = res.msg;
                    }
                    else {
                        location.href=res.link

                    }
                }
            })

        }
        else {
            document.getElementById("disp").innerHTML = "Please select a mode";

        }

    })
    function razorpayPayment(order) {
      
        var options = {
            "key": "rzp_test_5hQK7ZeFBkNf4X", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "modal":{
                

            }

            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    } 


    function verifyPayment(payment, order) {
        console.log(payment)
        console.log(order)
        $.ajax({
            url: "/verifypayment",
            data: ({
                payment,
                order
            }),
            method: "post",
            success: function (response) {
                $.ajax({
                    url: "/deletefinalcart",
                    data: "",
                    method: "post",
                    success: function (response) {
                        if (response.status) {
                            location.replace('/suc')

                        }
                        else {
                            alert("errrrrrr")
                        }

                    }

                })



            },
            error: function () {

            }
        })

    }

    function checkradio() {
        console.log(document.getElementById('confirmbtn').value)
        document.getElementById('confirmbtn').style.display = ""
        document.getElementById('paypalbtn').style.display = "none"
        mode = "cod"
    }
    function checkradio1() {
        console.log(document.getElementById('confirmbtn').value)
        document.getElementById('confirmbtn').style.display = ""
        document.getElementById('paypalbtn').style.display = "none"
        mode = "rpay"
    }
    function checkradio2() {
        console.log(document.getElementById('confirmbtn').value)
        document.getElementById('confirmbtn').style.display = "none"
        document.getElementById('paypalbtn').style.display = ""
        mode = "p_pal"
    }


    function pay_mode() {


        if (document.getElementById('cod').checked) {
            mode = "cod"

        }
        else if (document.getElementById('r_pay').checked) {
            mode = "rpay"

        }
        else if (document.getElementById('p_pal').checked) {
            mode = "p_pal"


        }
        else {
            mode = null

        }



    }


</script>