<link href="/css/cart.css" rel="stylesheet">
{{#if items}}
<div style="margin-top: 7rem;" class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">






                        <h5>items in your cart [ {{cart_count}}]</h5>
                    </div>
                    {{#each items}}
                                        

                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>

                                    <tr>

                                        <td width="90">

                                            <img width="100px" src="/product-images/{{this.products._id}}1.jpg">

                                        </td>

                                        <td class="desc">

                                            <h3>
                                                <a href="#" class="text-navy">
                                                    {{this.products.product_name}}
                                                </a>
                                            </h3>
                                             <h6 >
                                                <p style="color: rgb(121, 120, 120);" href="#" class="text-navy">
                                                    {{this.products.sub_category}}
                                                </p>
                                            </h6>
                                            {{#if this.products.offer}}
                                            <p style="color: rgb(121, 120, 120);" id="offprice+{{this.products._id}}" class="small">
                                               RS : {{this.products.offer_price}}
                                            </p>
                                            <p style="color: rgb(237, 65, 65);text-decoration: line-through;" class="small">
                                               RS : {{this.products.price}}
                                            </p>

                                            {{else}}
                                            
                                            <p style="color: rgb(121, 120, 120);" class="small">
                                               RS : {{this.products.price}}
                                            </p>
                                            {{/if}}

                                            <div class="m-t-sm">
                                                <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift
                                                    package</a>
                                                |
                                                <button onclick="removeCartItem('{{this.products._id}}')"
                                                    class="text-muted"><i class="fa fa-trash"></i> Remove
                                                    item</button>
                                            </div>

                                        </td>


                                        <td class="">
                                            <div class="quantity buttons_added me-3">
                                                <input type="button"
                                                    onclick="changeQuantity('{{this._id}}','{{this.products._id}}',-1)"
                                                    value="-" id="qtyminus" class="minus">
                                                <input type="" disabled step="1" min="1" max="" onchange="qtychange()"
                                                    name="quantity" id="{{this.products._id}}qty"
                                                    value="{{this.quantity}}" title="Qty" class="input-text qty text"
                                                    size="4" pattern="" inputmode="">
                                                <input type="button" value="+"
                                                    onclick="changeQuantity('{{this._id}}','{{this.products._id}}',1)"
                                                    class="plus">
                                            </div>
                                        </td>



                                        <td>

                                             {{#if this.products.offer}}
                                            <p  style="color: rgb(4, 4, 4);font-size: small;" id="offprice{{this.products._id}}"  class="small">
                                               RS : {{this.off_subtotal}}
                                            </p>
                                            <p style="color: rgb(237, 65, 65);text-decoration: line-through;font-size: small;" id="price{{this.products._id}}"  class="small me-2">
                                               RS : {{this.subtotal}}
                                            </p>

                                            {{else}}
                                            
                                            <p style="color: rgb(121, 120, 120);" id="price{{this.products._id}}" class="small">
                                               RS : {{this.subtotal}}
                                            </p>
                                            {{/if}}
                                        </td>

                                    </tr>
                                  
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                    </div>





                    <div class="ibox-content">
                        <a class="btn btn-primary pull-right" href="/address"><i class="fa fa fa-shopping-cart"></i>
                            Checkout</a>
                        <a onclick="goBack()" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue
                            shopping</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                          {{#if offer_total}}
                            <h2 class="font-bold">
                            RS : {{offer_total}}
                        </h2>

                          {{else}}
                        <h2 class="font-bold">
                            RS : {{total.total}}

                        </h2>

                          {{/if}}

                        <hr>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                        {{!-- <div class="m-t-sm">
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i>
                                    Checkout</a>
                                <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                            </div>
                        </div> --}}
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                            Other products you may be interested
                        </p>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 1</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
                                        class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 2</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
                                        class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div>
    <h1  class="mt-5 p-5 ms-5">NO Products In Cart</h1>
    <a href="/" class=" ms-5 btn btn-primary" >Go to home</a>

</div>
{{/if}}

<script src="/javascripts/user/removecart.js"></script>