<!--Section: Block Content-->
<section class="p-5">

  <div class="row container" style="background-color: blanchedalmond;">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 m-3">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner " style="height: 25rem;">
                <div class="carousel-item active">
                  <img src="/product-images/{{details._id}}1.jpg" class="img-fluid z-depth-1">
                </div>
                <div class="carousel-item">
                  <img src="/product-images/{{details._id}}2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/product-images/{{details._id}}3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-6 mt-5  justify-content-center" style="text-align: center">

      <h5>{{details.product_name}}</h5>
      <p class="mb-2 text-muted text-uppercase small">{{details.sub_category}}</p>
      <p><span class="mr-1"><strong>RS: {{details.price}}</strong></span></p>
      <p class="pt-1">{{details.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">

        </table>
      </div>
      <hr>
      <div class="table-responsive mb-2 mt-3">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pb-0">Select size</td>
            </tr>
            <tr>
              {{!-- <td class="pl-0">
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max=""
                    name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern=""
                    inputmode=""><input type="button" value="+" class="plus">
                </div>
              </td> --}}
              <td>
                <div class="mt-1">
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked>
                    <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
                  </div>
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
                  </div>
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
      <button class="btn btn-light btn-md mr-1 mb-2" onclick="addtoCart('{{details._id}}')" id="cartbtn">Add To
        Cart</button>

    </div>
  </div>

</section>

<script src="/javascripts/user/cart.js"></script>